.header {
   // height: var(--header-height);

   background-color: var(--grey-bg);
   border-bottom: var(--black-line);

   .header_container {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;

      .logo {
         position: relative;
         z-index: 27;
         
         h2 {
            transition: color var(--ui-duration);
         }
      }
   }
}