.header {
   // height: var(--header-height);
   
   background-color: var(--grey-bg);
   border-bottom: var(--black-line);
   
   .header_container {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      
      .logo {
         padding: 20px 60px 20px 0;
         height: 100%;
         border-right: var(--black-line);
         user-select: none;
      }
   }
}