.card {
   width: 100%;
   max-width: var(--card-max-width);
   height: 100%;

   display: flex;
   flex-direction: column;

   border: var(--black-line);

   .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1 / 1;

      // border-bottom: var(--black-line);
   }

   .content {
      padding: var(--inside-card-padding);

      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .nameWrap {
         flex: 1;
      }

      .name {
         display: flex;
         flex-direction: column;
      }

      .catalogAction {
         display: flex;
         align-items: flex-end;
         justify-content: space-between;

         .btn_buy {
            position: relative;
            transition: var(--link-transition);

            &:active {
               // opacity: var(--click-effect-opacity);
               // transform: var(--click-effect-transform);
               // color: var(--grey-bg);
            }
         }
      }
   }
}