.wrapper {
   // margin-right: 40px;

   .link_list {
      align-items: center;
      justify-content: flex-end;
      gap: 104px;

      &.mobList {
         display: none;
      }

      .link {
         position: relative;
         transition: var(--link-transition);

         // &:hover {
         //    color: var(--link-hover-color);
         // }

         &:active {
            // opacity: var(--click-effect-opacity);
            // transform: var(--click-effect-transform);
            // color: var(--grey-bg);
         }

         &.active {
            color: var(--link-active-color);
         }
      }
   }

   @media (max-width: 1919px) {
      .link_list {
         gap: 64px;
      }
   }

   @media (max-width: 1439px) {
      .link_list {
         gap: 42px;
      }
   }

   @media (max-width: 1023px) {
      .link_list {
         display: none;
         gap: 24px;

         &.mobList {
            display: flex;

            .catalogBtn,
            .burgerBtn {
               width: 42px;
               height: 42px;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }

   @media (max-width: 719px) {
      .link_list {
         display: none;
         gap: 16px;
      }
   }
}

.uiVinyl {
   --size: 448px;
   position: absolute;
   top: calc(50% - var(--size) * 0.65);
   left: calc(0px - var(--size) * 0.5);

   width: var(--size);
   height: var(--size);
}