.seoBlock {
   margin-top: var(--section-gap);
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   gap: var(--inside-section-gap);
   align-items: center;

   .seoImage {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
         max-width: 512px;
         object-fit: contain;
         user-select: none;
         -webkit-user-drag: none;
         -khtml-user-drag: none;
         -moz-user-drag: none;
         -o-user-drag: none;
         user-drag: none;
      }
   }

   .seoText {
      gap: 16px;
   }

   @media (max-width: 1279px) {
      grid-template-columns: 1fr 2fr;
   }

   @media (max-width: 1023px) {
      display: flex;
      flex-direction: column-reverse;
   }
}