.wrapper {
   gap: var(--inside-section-gap);

   .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;

      --height: 280px;

      .author {
         position: relative;
         height: var(--height);
         width: 100%;

         border: var(--black-line);
         background-color: transparent;

         .img {
            position: absolute;
            top: 0;
            left: 0;

            height: calc(var(--height) - 2px);
            width: 64%;
            object-fit: cover;
         }

         .overlay {
            position: relative;
            height: calc(var(--height) - 2px);
            width: 68%;
            background: linear-gradient(.74turn, var(--gery-light) 8%, rgba(0, 0, 0, 0) 50%);
            z-index: 2;
         }

         .authorDesc {
            position: absolute;
            top: calc(var(--height) * .16);
            right: 64px;
            max-width: var(--height);
            z-index: 4;
         }

         .authorPlace {
            position: absolute;
            bottom: 16px;
            right: 32px;
            z-index: 5;
         }
      }

      .linkAll {
         height: var(--height);
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         border: var(--black-line);
      }

      @media (max-width: 1439px) {
         --height: 232px;

         .author {
            .authorDesc {
               right: 48px;
            }
         }
      }

      @media (max-width: 1279px) {
         --height: 208px;

         .author {
            .authorDesc {
               right: 32px;
            }
         }

         .linkAll svg {
            width: 112px;
            height: 112px;
         }
      }

      @media (max-width: 1023px) {
         --height: 208px;

         display: flex;
         flex-direction: column;

         .author {
            .authorDesc {
               right: 32px;
            }
         }
      }

      @media (max-width: 719px) {
         --height: 168px;
         gap: 8px;

         .author {
            .authorDesc {
               right: 16px;
            }
         }

         .linkAll {
            height: 104px;

            svg {
               width: 88px;
               height: 88px;
            }
         }
      }
   }
}