@tailwind base;
@tailwind components;
@tailwind utilities;


// root stuff
:root {
   // colors
   --grey-bg: #dfdfdf;
   --black-bg: #000;
   --white: #fff;
   --black: #000;
   --grey: #333;
   --red: #e34539;
   --grey-light: rgba(223, 223, 223, 1);
   --grey-light-darker: rgba(132, 132, 132, 1);
   --red-light: rgba(227, 69, 57, 0.8);
   --red-opacity: rgba(227, 69, 57, 0.4);
   --black-opacity: rgba(0, 0, 0, 0.4);


   // transitions
   --ui-duration: 0.4s ease-in-out;
   --hover-duration: 0.2s ease-in-out;
   --link-transition: color 0.1s ease-in-out, transform var(--hover-duration), opacity var(--hover-duration);
   --red-button-transition: all var(--hover-duration), filter var(--hover-duration), box-shadow var(--hover-duration);

   // hover
   --link-hover-color: var(--red);

   // .active selector
   --link-active-color: var(--red);

   // effects on click
   --click-effect-opacity: 0.65;
   --click-effect-transform: scale(0.95);

   // decorative ui
   --line-height: 1px;
   --black-line: 1px solid var(--black-bg);
   --red-shadow: 0 0 8px 2px var(--red-light);

   // ui gap & padding & margin
   --layout-gap: 64px;
   --section-gap: 32px;
   --inside-section-gap: 24px;
   --inside-card-padding: 8px 8px 16px 8px;
   --inside-block-padding: 16px;
   --article-gap: var(--section-gap);
   --inside-article-gap: calc(var(--inside-section-gap) * .5);
   --article-caption-margin: calc(var(--inside-section-gap) * .5);

   // ui elements size
   --card-max-width: 340px;
   --card-slide-max-width: 340px; // maybe better 340
   --card-slide-max-height: 428px; // maybe better 408
   --square-button-size: 64px;
   --square-button-icon-size: 48px;


   // --large-laptop: 1919px;
   @media (max-width: 1919px) {}

   // --small-laptop: 1439px;
   @media (max-width: 1439px) {
      --layout-gap: 48px;
      --card-slide-max-width: 304px;
      --card-slide-max-height: 390.4px;
   }

   // --large-tablet: 1279px;
   @media (max-width: 1279px) {
      --section-gap: 24px;
      --card-slide-max-height: 391.2px;
      --inside-section-gap: 16px;
   }

   // --medium-tablet: 1023px;
   @media (max-width: 1023px) {
      --layout-gap: 32px;
      --card-slide-max-width: 264px;
      --card-slide-max-height: 349.6px;
   }

   // --small-tablet: 719px;
   @media (max-width: 719px) {
      --section-gap: 16px;
      --inside-block-padding: 8px;
      --card-slide-max-width: 264px;
      --card-slide-max-height: 357.6px;
      --square-button-size: 48px;
      --square-button-icon-size: 32px;
   }

   // --mobile: 479px;
   @media (max-width: 479px) {
      --inside-section-gap: 8px;
      --inside-article-gap: 8px;
      --article-caption-margin: 8px;
      --card-slide-max-width: 184px;
      --card-slide-max-height: 294.4px;
   }

   font-family: "Montserrat",
   sans-serif;
}

*::selection {
   background-color: var(--red-opacity);
}

img {
   width: 100%;
   height: auto;
}


// переопределяем стили | mne lenn googlit
h1,
h2,
h3,
h4,
h5 {
   margin: unset;
}

a {
   display: block;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */




// layout
html,
body {
   height: 100%;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   color: var(--black);
   background-color: var(--grey-bg);
}

main {
   flex: 1 0 auto;
}

footer {
   flex: 0 0 auto;
}



// typography
.caption {
   &-88 {
      font-size: 88px;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1439px) {
         font-size: 72px;
      }

      @media (max-width: 1023px) {
         font-size: 64px;
      }

      @media (max-width: 719px) {
         font-size: 48px;
      }

      @media (max-width: 479px) {
         font-size: 32px;
      }

      @media (max-width: 374px) {
         font-size: 28px;
      }
   }

   &-64 {
      font-size: 64px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1439px) {
         font-size: 48px;
      }

      @media (max-width: 1279px) {
         font-size: 40px;
      }

      @media (max-width: 1023px) {
         font-size: 32px;
      }

      @media (max-width: 719px) {
         font-size: 24px;
      }

      @media (max-width: 479px) {
         font-size: 20px;
      }
   }

   &-48 {
      font-size: 48px;
      font-weight: bold;
      line-height: 110%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1439px) {
         font-size: 40px;
      }

      @media (max-width: 1279px) {
         font-size: 32px;
      }

      @media (max-width: 1023px) {
         font-size: 24px;
      }

      @media (max-width: 719px) {
         font-size: 20px;
      }
   }

   &-32 {
      font-size: 32px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 24px;
      }

      @media (max-width: 719px) {
         font-size: 20px;

         &.caption-32timer,
         &.title {
            font-size: 24px;
         }
      }

      @media (max-width: 479px) {
         font-size: 16px;

         &.caption-32timer,
         &.title {
            font-size: 24px;
         }
      }
   }


   &-24 {
      font-size: 24px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1919px) {
         font-size: 20px;

         &.caption-24timer {
            font-size: 24px;
         }
      }

      @media (max-width: 1279px) {
         font-size: 18px;

         &.caption-24timer {
            font-size: 20px
         }
      }

      @media (max-width: 719px) {
         font-size: 16px;

         &.caption-24timer {
            font-size: 18px;
         }
      }
   }

   &-18 {
      font-size: 18px;
      font-weight: 600;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 16px;

         &.caption-18timer {
            font-size: 18px;
         }
      }

      @media (max-width: 1023px) {
         font-size: 14px;

         &.caption-18timer {
            font-size: 18px;
         }
      }
   }

   &-16 {
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 14px;
      }
   }
}

.text {
   &-red {
      color: var(--red);
   }

   &-black {
      color: var(--black);
   }

   &-grey {
      color: var(--grey);
   }

   &-white {
      color: var(--white);
   }

   &-highlight {
      color: var(--red);
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
   }

   &-capitalize {
      text-transform: capitalize;
   }

   &-normal {
      text-transform: none;
   }

   &-bold {
      font-weight: 600 !important;
   }

   &-pretty {
      text-wrap: pretty !important;
   }

   &-88 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 88px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1023px) {
         font-size: 64px;
      }
   }

   &-48 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 48px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      text-wrap: balance;

      @media (max-width: 1439px) {
         font-size: 40px;
      }

      @media (max-width: 1279px) {
         font-size: 32px;
      }

      @media (max-width: 1023px) {
         font-size: 24px;
      }

      @media (max-width: 719px) {
         font-size: 20px;
      }

      @media (max-width: 479px) {
         font-size: 20px;
      }
   }

   &-32 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 24px;
      }

      @media (max-width: 719px) {
         font-size: 20px;
      }

      @media (max-width: 479px) {
         font-size: 16px;
      }
   }

   &-28 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 28px;
      font-weight: 500;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 20px;
      }

      @media (max-width: 719px) {
         font-size: 18px;
      }

      @media (max-width: 479px) {
         font-size: 16px;
      }
   }

   &-24 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1919px) {
         font-size: 20px;
      }

      @media (max-width: 1023px) {
         font-size: 18px;
      }

      @media (max-width: 479px) {
         font-size: 16px;
      }
   }

   &-20 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1279px) {
         font-size: 18px;
      }

      @media (max-width: 1023px) {
         font-size: 16px;
      }
   }

   &-16 {
      font-family: "Source Sans 3", "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      text-wrap: balance;

      @media (max-width: 1023px) {
         font-size: 14px;
      }
   }
}

@layer utilities {
   .text-balance {
      text-wrap: balance;
   }
}


// other stuff
.logo {
   padding: 20px 60px 20px 0;
   height: 100%;
   border-right: var(--black-line);
   user-select: none;

   @media (max-width: 1439px) {
      padding: 16px 42px 16px 0;
   }

   @media (max-width: 1023px) {
      padding: 8px 24px 8px 0;
      font-size: 16px;
   }

   @media (max-width: 479px) {
      font-size: 14px;
   }
}


// wrappers
.content-wrapper {
   margin: 0 auto;
   width: 100%;
   max-width: 1674px;

   @media (max-width: 1919px) {
      max-width: 1374px;
   }

   @media (max-width: 1439px) {
      padding: 0 42px;
   }

   @media (max-width: 1279px) {
      padding: 0 32px;
   }

   @media (max-width: 1023px) {
      padding: 0 24px;

      &.slider-wrapper {
         padding: unset;

         .swiper-wrapper {
            padding: 0 24px;
         }
      }
   }

   @media (max-width: 719px) {
      padding: 0 16px;

      &.slider-wrapper {
         padding: unset;

         .swiper-wrapper {
            padding: 0 16px;
         }
      }
   }

   @media (max-width: 479px) {
      padding: 0 8px;

      &.slider-wrapper {
         padding: unset;

         .swiper-wrapper {
            padding: 0 8px;
         }
      }
   }
}

.page-wrapper {
   padding-top: 48px;
   padding-bottom: 64px;
   flex: 1;
   gap: var(--section-gap);

   @media (max-width: 1279px) {
      padding-top: 32px;
      padding-bottom: 48px;
   }

   @media (max-width: 1023px) {
      padding-top: 24px;
      padding-bottom: 32px;
   }

   @media (max-width: 719px) {
      padding-top: 16px;
      padding-bottom: 24px;
   }
}



// ui stuff
.background {
   &-black {
      background-color: var(--black-bg);
   }

   &-white {
      background-color: var(--white);
   }
}

.hover {
   &-underline {
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
         position: absolute;
         content: '';
         bottom: 0;
         left: 0;

         width: 100%;
         height: 100%;
         background-color: var(--red);
         transform: translateX(-105%) translateY(calc(100% - 2px));
         transition: var(--link-transition);
         z-index: -1;
      }

      &:hover {
         &::before {
            transform: translateX(0%) translateY(calc(100% - 2px));
         }
      }

      &:active {
         &::before {
            transform: translateX(0%) translateY(0%);
         }
      }

      &.active {
         &::before {
            transform: translateX(0%) translateY(0%);
         }
      }
   }

   &-red {
      transition: var(--link-transition);

      &:hover {
         color: var(--red);
      }
   }

   // &-translation {
   //    &:hover {
   //       svg {
   //          position: relative;
   //          animation: 2s linear infinite MoveX;
   //       }
   //    }

   //    @keyframes MoveX {
   //       0% {
   //          transform: translateX(0);
   //       }

   //       25% {
   //          transform: translateX(25%);
   //       }

   //       50% {
   //          transform: translateX(0%);
   //       }

   //       75% {
   //          transform: translateX(-25%);
   //       }

   //       100% {
   //          transform: translateX(0%);
   //       }
   //    }
   // }
}

.active-icon {
   svg {
      fill: var(--red);
   }
}

.button {
   &-red {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--red);
      box-shadow: var(--red-shadow);

      transition: var(--red-button-transition);

      &:hover {
         box-shadow: 0 0 10px 4px var(--red);
      }
   }

   &-square-icon {
      width: var(--square-button-size);
      height: var(--square-button-size);
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--black-line);

      svg {
         width: var(--square-button-icon-size);
         height: var(--square-button-icon-size);
      }
   }
}

.slider-link-all {
   position: relative;
   overflow: hidden;
   z-index: 1;

   svg {
      transition: all var(--hover-duration);
   }

   .overlay-wrap {
      position: absolute;
      top: -1px;
      left: -1px;

      width: calc(100% + 2px);
      height: calc(100% + 2px);

      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;

      .overlay {
         // width: 0;
         height: 0;
         aspect-ratio: 1 / 1;
         border-radius: 50%;
         background-color: var(--red);
         transition: height var(--hover-duration);
      }
   }

   &:hover {
      svg {
         fill: var(--black);
         stroke: var(--black);
      }

      .overlay-wrap {
         .overlay {
            // width: 150%;
            height: 150%;
         }
      }
   }
}

.input {
   &-normal {
      flex: 1;
      padding: 0 var(--inside-block-padding);
      width: 100%;
      height: 64px;
      display: block;
      caret-color: var(--red);
      border: var(--black-line);
      border-radius: 0;
      background-color: transparent;

      @media (max-width: 719px) {
         height: 48px;
      }

      &::placeholder {
         color: var(--black);
      }

      &.input-search {
         &::placeholder {
            color: var(--grey-light-darker);
         }
      }

      &:focus,
      &:focus-visible,
      &:focus-within {
         border-radius: 0;
      }
   }


   &-submit {
      width: var(--square-button-size);
      height: var(--square-button-size);
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--black-line);
      border-left: unset;

      svg {
         width: var(--square-button-icon-size);
         height: var(--square-button-icon-size);
      }

      @media (max-width: 719px) {
         svg {
            &.nn-svg {
               width: 48px;
               height: 48px;
            }
         }
      }
   }

   &-check {
      display: none;

      &-wrapper {
         display: flex;
         align-items: baseline;
         gap: 8px;
      }

      &-marker {
         width: 24px;
         height: 24px;
         display: flex;
         align-items: center;
         justify-content: center;
         border: var(--black-line);
         cursor: pointer;

         svg {
            opacity: 0;
            transition: var(--link-transition);
         }
      }

      &-title {
         user-select: none;
         cursor: pointer;
      }

      &:checked~&-marker {
         svg {
            opacity: 1;
         }
      }
   }
}

.section-banner {
   position: relative;
   overflow: hidden;

   p {
      position: absolute;
      left: 0;
      bottom: 64px;

      width: 100%;
      z-index: 2;
   }

   .section-title {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 2;
   }

   img {
      width: 100%;
      height: 520px;
      object-fit: cover;
      filter: grayscale(72%) brightness(0.64) blur(2px);

      user-select: none;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
   }

   @media (max-width: 1279px) {
      p {
         bottom: 48px;
      }

      img {
         height: 480px;
      }
   }

   @media (max-width: 1023px) {
      p {
         bottom: 32px;
      }

      img {
         height: 424px;
      }
   }

   @media (max-width: 719px) {
      p {
         bottom: 24px;
      }

      img {
         height: 360px;
      }
   }
}

.sticky-line {
   position: sticky;
   top: 0;
   left: 0;

   padding: 8px 0;
   width: 100%;

   background-color: var(--grey-bg);
   z-index: 8;

   .sticky-line-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: calc(var(--inside-section-gap) / 2);

      .search-bar {
         flex: 1;
      }
   }
}

.article {
   &-wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 1128px;

      @media (max-width: 1439px) {
         max-width: 920px;
      }

      @media (max-width: 1023px) {
         max-width: 624px;
      }

      @media (max-width: 719px) {
         padding: 0 16px;
      }

      @media (max-width: 479px) {
         padding: 0 8px;
      }
   }

   &-section {
      // gap: var(--article-gap);
   }

   &-block {
      // gap: var(--inside-article-gap);
   }

   &-section-nn {
      gap: var(--article-gap);
   }

   &-block-nn {
      gap: var(--inside-article-gap);
   }

   &-image {
      margin-top: var(--inside-article-gap);
      height: 424px;
      object-fit: cover;

      &-afterheading {
         margin-top: unset;
      }

      @media (max-width: 1279px) {
         height: 364px;
      }

      @media (max-width: 1023px) {
         height: 320px;
      }

      @media (max-width: 719px) {
         height: 280px;
      }
   }

   &-caption {
      margin: calc(var(--article-gap) + var(--article-caption-margin)) 0 var(--article-gap) 0;

      &-main {
         margin: unset;
         margin-bottom: var(--article-gap);
      }

      &-end {
         margin-top: var(--article-gap);
      }
   }

   &-text {
      margin-top: var(--inside-article-gap);
      display: inline-block;
      text-wrap: pretty;

      &-afterheading {
         margin-top: unset;
      }

      span {
         display: inline-block;
         color: var(--red);
      }

      a {
         display: inline-block;
         position: relative;
         overflow: hidden;
         z-index: 1;
         transform: translateY(5.6px);

         &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;
            background-color: var(--red);
            transform: translateY(calc(100% - 2px));
            transition: var(--link-transition);
            z-index: -1;
         }

         &:active {
            &::before {
               transform: translateY(0%);
            }
         }
      }

      b {
         display: inline-block;
         font-weight: 700;
      }
   }
}

.margin-unset {
   margin: 0 !important;
}

.not-found_layout {
   gap: 32px;

   @media (max-width: 1280px) {
      gap: 24px;
   }

   @media (max-width: 720px) {
      gap: 16px;
   }
}