.home_page {
   padding-top: var(--layout-gap);
   padding-bottom: var(--layout-gap);

   display: flex;
   flex-direction: column;
   gap: var(--layout-gap);

   .home {
      display: flex;
      flex-direction: column;
      gap: var(--layout-gap);

      h1 {
         text-align: center;
      }

      .home_desc {
         display: grid;
         grid-template-columns: 196px 1fr;
         align-items: end;
         gap: var(--section-gap);

         @media (max-width: 1919px) {
            grid-template-columns: 164px 1fr;
         }
      }
   }
}