.magazine {
   gap: var(--inside-section-gap);

   .galleryWrapper {
      gap: var(--inside-section-gap);

      .galleryLayout {
         display: grid;
         grid-template-columns: repeat(4, minmax(0, 1fr));
         gap: calc(var(--inside-section-gap) * .5);

         .gallerySection {
            display: flex;
            flex-direction: column;
            gap: calc(var(--inside-section-gap) * .5);

            .galleryImage {
               height: 100%;
               object-fit: cover;
               transition: var(--ui-duration);
            }
         }

         @media (max-width: 1023px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
         }
      }
   }
}