.content {
   gap: var(--inside-section-gap);

   .slider {
      position: relative;

      &::before {
         position: absolute;
         content: '';
         top: 0;
         right: 0;

         width: 50%;
         height: 1px;

         background-color: var(--black);
      }

      &::after {
         position: absolute;
         content: '';
         bottom: 0;
         right: 0;

         width: 50%;
         height: 0.8px;

         background-color: var(--black);

         @media (min-width: 1920px) {
            bottom: 0.4px;
         }
      }
   }

   .slide {
      padding-right: 32px;
      width: fit-content;
      max-width: var(--card-slide-max-width);
      // height: 100%;
      height: var(--card-slide-max-height);
      background-color: var(--grey-bg);

      @media (max-width: 1279px) {
         padding-right: 24px;
      }

      @media (max-width: 1023px) {
         padding-right: 16px;
      }

      @media (max-width: 719px) {
         padding-right: 8px;
      }
   }
}

.linkAll {
   width: var(--card-slide-max-width);
   height: var(--card-slide-max-height);


   display: flex;
   align-items: center;
   justify-content: center;

   border: var(--black-line);
   border-right: unset;

   @media (max-width: 1439px) {
      svg {
         width: 186px;
         height: 186px;
      }
   }

   // --medium-tablet: 1023px;
   @media (max-width: 1023px) {
      svg {
         width: 168px;
         height: 168px;
      }
   }

   // --small-tablet: 719px;
   @media (max-width: 719px) {
      svg {
         width: 146px;
         height: 146px;
      }
   }

   // --mobile: 479px;
   @media (max-width: 479px) {
      svg {
         width: 122px;
         height: 122px;
      }
   }
}