.wrapper {
   gap: var(--inside-section-gap);

   .preview {
      position: relative;

      .authorImage {
         filter: grayscale(24%) brightness(0.64);
      }

      .authorName {
         top: unset;
         left: var(--inside-section-gap);
         bottom: var(--inside-section-gap);

         width: fit-content;
         height: fit-content;
         text-transform: unset;
         z-index: 2;
      }
   }

   .info {
      .description {
         gap: 16px;

         p {
            text-wrap: pretty;
         }
      }
   }
}